/*****CAPITULO FORM*****/

.navbar-brand{
  margin: 10px;
}

button{
  padding: 10px;
  margin-top: 5px;
  text-transform: capitalize;
  border: none;
  outline: none;
  color: #ffffff;
  background: #A99884;
  transition: 0.5s;
  cursor: pointer;
  border-radius: 5px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  width: 100%;
}
      
tr:nth-child(even) {
  background-color: #F2ECE7;
}

.box{
  margin-top: 10px;
  margin-left: 10px;
}
