/****** TELA (DE CADASTRO) ******/
body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(#795731, #faf5ef);
}

.card-container.card {
    color: 463E2F#463E2F;
    max-width: 350px;
    padding: 40px 40px;
}

.btn_back {
    margin-top: 10px;
    margin-left: 10px;
    border: none;
    outline: none;
    color: #ffffff;
    background: #A99884;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.btn_back:hover{
    background: #F5F2EB;
    color: #af6919;
}


/*
 * Card component
 */
.card {
    background-color: #A99884;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 200px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px #534b3d73;
    -webkit-box-shadow: 0px 2px 2px #534b3d83;
    box-shadow: 0px 2px 2px #534b3d70;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: #463E2F;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #463E2F,0 0 8px #fffaf5;
    box-shadow: inset 0 1px 1px #463E2F,0 0 8px #fffaf5;
}

.btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: #F2E9D3;
    color: #463E2F;
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #7e704f;
}

.forgot-password {
    color: #404040;
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: #2b2418;
}
